@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --very-dark-magenta :hsl(300, 43%, 22%);
    --soft-pink : hsla(333, 41%, 74%);
    --white : hsl(0, 0%, 100%);
    --dark-greyish-magenta:hsl(303, 10%, 53%);
    --light-greyish-magenta:hsl(300, 24%, 96%);
    
}
body {
    background-color: var(--white);
    font-size: 1.2rem;
    font-family: 'League Spartan', sans-serif;
    color: var(--dark-greyish-magenta);
    display: grid;
    place-items: center;
    /* min-height: 100svh; */
   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    background-image: url("./images/bg-pattern-top-mobile.svg"),url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top left,bottom right;               
    background-repeat: no-repeat,no-repeat;
    max-width: 1150px;
    width: 90%;
    margin: auto;
}
h1 {
    color: var(--very-dark-magenta);
    font-weight: 700;
    max-width: 200px;
    text-align: center;

}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.joint-rates {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 2rem;
}
.intro {
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    
}
.rate {
    color: var(--very-dark-magenta);
    font-weight:700 ;
}

.rating {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--light-greyish-magenta) ;
    padding: 1rem ;
    border-radius: 0.5rem;
    
    
    
}
.stars {
    display: flex;

}
.about {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buyer--details{
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-magenta);
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    color: var(--white);
}

.testimony{
    line-height: 1.2;
    font-weight: 400;
}

.colton {
    
    margin-top: 2.5rem;

}

.anne {

    margin-bottom: 5rem;
}
.color {
    color: var(--soft-pink);
    margin-top: 0.5rem;
}
.picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media screen and (min-width:750px) {
    
  
    .container{
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
       
        margin: auto;
        

    }
    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 2rem;
    }
    h1 {
        text-align: unset;
        margin: 0;
        margin-bottom: 1rem;
        max-width: 11ch;
        font-weight: 700;
        font-size: 3.5rem;
    }
    .intro {
        max-width: 40ch;
        text-align: unset;
        
    }
    .top{
        display: flex;
        flex-direction: column;
        align-items: unset;
       

       
    }

  
    .rating {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem ;
        gap: 1rem;

    }

    .rating:nth-child(1){
        
        margin-right: auto;
       
    }
    
    .rating:nth-child(2){
        
        margin-inline: auto;
       
    }
    .rating:nth-child(3) {
        margin-left: 10rem;
       
        
    }
    .colton {
        margin: 0;
    }

    .anne {
        margin: 0;
    }
    .buyers {
        display: flex;        
        
    }
    .colton:nth-child(1) {
        align-self: flex-start;
    }
    .irene:nth-child(2) {
        align-self:center;
    }
    .anne:nth-child(3){
        align-self:flex-end;
        
    }
    
    
}

